@charset "utf-8";
/* 
 * CSS Document
 * Name huizhaowang
 * Version 1.0
 * Time 2018/1/16
 * Author Lin Jian
 * Tips id使用小驼峰，样式类使用“ - ”
 * Url http://hvzhao.com/
*/
*{margin: 0; padding: 0;}
html{-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -ms-overflow-style: scrollbar;}
body{margin: 0; font-size: 14px; color: #333; line-height: 1.1; font-family: "微软雅黑", "黑体", Arial, sans-serif; overflow-x: hidden; -ms-overflow-style: scrollbar;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {display: block;}
audio, canvas, progress, video{display: inline-block; vertical-align: baseline;}
a{text-decoration: none; background-color: transparent;}
a:active, a:hover,input{outline: 0;}
a:hover,a:focus{text-decoration: none; color: #4395fa;}
a{outline: none; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; color: #333;}
b,strong{font-weight: bold;}
small{font-size: 80%;}
sub, sup{position: relative; font-size: 75%; line-height: 0; vertical-align: baseline;}
sup{top: -.5em;}
sub{bottom: -.25em;}
img{border: 0;}
del{color: #666;}
ul li{list-style: none;}
pre {overflow: auto;}
legend{padding: 0; border: 0;}
textarea{overflow: auto;}
optgroup{font-weight: bold;}
table{border-spacing: 0; border-collapse: collapse;}
ul,p,h1,.h1,h2,.h2,h3,.h3,h4, .h4, h5, .h5, h6, .h6{margin: 0;}
ul li ol{list-style: none; margin: 0; padding: 0;}
button, input, optgroup, select, textarea {margin: 0; font: inherit; color: inherit;}
input[type="checkbox"],input[type="radio"]{padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
h1{font-size: 24px;}
h2{font-size: 22px;}
h3{font-size: 20px;}
h4{font-size: 18px;}
h5{font-size: 16px;}
h6{font-size: 14px;}
.font-s12{font-size: 12px;}
.font-s14{font-size: 14px;}
.font-s16{font-size: 16px;}
.font-s18{font-size: 18px;}
.font-s20{font-size: 20px;}
.font-s24{font-size: 24px;}
.font-bold{font-weight: bold;}
.cursor-default{cursor: default;}
.cursor-pointer{cursor: pointer;}
.container{width: 1220px; margin: 0 auto;}
.color-333{color: #333;}
.color-666{color: #666;}
.color-999{color: #999;}
.color-orange{color: #f98726;}
.color-blue{color: #1768fe;}
.bg-gray{background: #f4f5fa;}
.bg-white{background: #fff;}
.margin-center{margin: 0 auto;}
.text-center{text-align: center;}
.width-620{width: 620px;}
.width-1000{width: 1000px;}
.hide{display: none;}
.btn {font-size: 14px; font-weight: 400; border-radius: 5px;}
input{border: 1px solid #e7e7e7; box-sizing: border-box; -webkit-transition: all ease .5s; -moz-transition: all ease .5s; -ms-transition: all ease .5s; -o-transition: all ease .5s; transition: all ease .5s;}
input:focus,select:focus{border: 1px solid #1768fe; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); -o-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);}
select::-ms-expand {display: none;}
.icon{display: inline-block; background: url(../images/icon.png) no-repeat; vertical-align: middle;}
.icon-mobile{width: 25px; height: 44px; background-position: -198px -4px;}
.icon-message{width: 12px; height: 13px; background-position: -5px -6px;}
.icon-personal{width: 11px; height: 14px; background-position: -31px -6px;}
.icon-menu{width: 17px; height: 13px; background-position: -68px -6px;}
.icon-eye{width: 15px; height: 11px; background-position: -115px -80px;}
.icon-collection{width: 22px; height: 22px; background-position: -88px -1px;}
.icon-enterprise-service{width: 22px; height: 22px; background-position: -109px -2px;}
.icon-government-investment{width: 22px; height: 22px; background-position: -130px -4px;}
.icon-prev{width: 26px; height: 50px; background-position: -3px -125px;}
.icon-next{width: 26px; height: 50px; background-position: -44px -125px;}
.icon-prev1{width: 16px; height: 27px; background-position: -188px -55px;}
.icon-next1{width: 16px; height: 27px; background-position: -207px -55px;}
.icon-slide-label{width: 85px; height: 21px; background-position: -281px -185px;}
.icon-find-project{width: 84px; height: 26px; background-position: -3px -182px;}
.icon-find-service{width: 84px; height: 26px; background-position: -95px -182px;}
.icon-find-loaction{width: 84px; height: 26px; background-position: -187px -182px;}
.icon-add{width: 11px; height: 11px; background-position: -395px -117px;}
.icon-people{width: 20px; height: 20px; background-position: -687px -3px;}
.icon-gov{width: 20px; height: 20px; background-position: -710px -4px;}
.icon-park{width: 20px; height: 20px; background-position: -687px -26px;}
.icon-fund{width: 20px; height: 20px; background-position: -729px -3px;}
.icon-fund1{width: 20px; height: 20px; background-position: -733px -26px;}


.icon-service-1{width: 42px; height: 42px; background-position: -230px -1px;}
.icon-service-2{width: 42px; height: 42px; background-position: -278px 0;}
.icon-service-3{width: 42px; height: 42px; background-position: -326px 1px;}
.icon-service-4{width: 42px; height: 42px; background-position: -229px -45px;}
.icon-service-5{width: 42px; height: 42px; background-position: -279px -45px;}
.icon-service-6{width: 42px; height: 42px; background-position: -326px -46px;}
.icon-service-7{width: 42px; height: 42px; background-position: -230px -91px;}
.icon-service-8{width: 42px; height: 42px; background-position: -279px -91px;}
.icon-service-9{width: 42px; height: 42px; background-position: -326px -91px;}
.icon-service-10{width: 42px; height: 42px; background-position: -229px -135px;}
.icon-service-11{width: 42px; height: 42px; background-position: -279px -135px;}
.icon-service-12{width: 42px; height: 42px; background-position: -327px -135px;}

.icon-chat{width: 23px; height: 23px; background-position: -156px -55px;}
.icon-triangle-left2{width: 4px; height: 7px; background-position: -102px -84px;}
.icon-home{width: 12px; height: 13px; background-position: -154px -7px;}
.icon-content-fixed{width: 70px; height: 60px; background-position: -370px -146px;}
.icon-me{width: 18px; height: 18px; background-position: -399px -46px;}
.icon-me1{width: 21px; height: 21px; background-position: -544px -137px;}
.icon-menu2{width: 18px; height: 18px; background-position: -442px -46px;}
.icon-ques{width: 18px; height: 18px; background-position: -464px -46px;}
.icon-service-type{width: 104px; height: 104px; background-position: -706px 0;}
.icon-orange-bg{width: 30px; height: 35px; background-position: -376px -3px;}
.icon-blue-bg{width: 30px; height: 34px; background-position: -410px -4px;}
.icon-up-points{width: 17px; height: 24px; background-position: -444px -9px;}
.icon-up-points1{width: 17px; height: 24px; background-position: -465px -9px;}
.icon-arrow18{width: 16px; height: 27px; background-position: -76px -125px;}
.icon-consultation{width: 23px; height: 21px; background-position: -398px -92px;}
.icon-bus{width: 35px; height: 35px; background-position: -486px -46px;}
.icon-metro{width: 35px; height: 35px; background-position: -523px -45px;}
.icon-restaurant{width: 35px; height: 35px; background-position: -560px -45px;}
.icon-bank{width: 35px; height: 35px; background-position: -596px -45px;}
.icon-hotel{width: 35px; height: 35px; background-position: -632px -45px;}
.icon-fast-food{width: 35px; height: 35px; background-position: -669px -45px;}
.icon-close1{width: 14px; height: 14px; background-position: -410px -116px;}
.icon-close2{width: 31px; height: 31px; background-position: -158px -91px;}
.icon-close4{width: 31px; height: 31px; background-position: -191px -91px;}
.icon-map{width: 20px; height: 20px; background-position: -375px -68px;}
.icon-map1{width: 16px; height: 19px; background-position: -72px -158px;}
.icon-map2{width: 12px; height: 15px; background-position: -394px -115px;}
.icon-badge1{width: 20px; height: 22px; background-position: -180px -127px;}
.icon-badge2{width: 20px; height: 22px; background-position: -203px -127px;}
.icon-badge3{width: 20px; height: 22px; background-position: -180px -154px;}
.icon-badge4{width: 20px; height: 22px; background-position: -203px -154px;}
.icon-chat1{width: 23px; height: 23px; background-position: -142px -28px;}
.icon-chat2{width: 23px; height: 23px; background-position: -170px -28px;}
.icon-chat3{width: 23px; height: 23px; background-position: -156px -55px;}
.icon-chat4{width: 20px; height: 16px; background-position: -2px -102px;}
.icon-telephone1{width: 20px; height: 20px; background-position: -5px -30px;}
.icon-telephone2{width: 20px; height: 20px; background-position: -29px -30px;}
.icon-telephone3{width: 20px; height: 20px; background-position: -53px -30px;}
.icon-telephone4{width: 21px; height: 30px; background-position: -94px -126px;}
.icon-telephone5{width: 18px; height: 18px; background-position: -421px -46px;}
.icon-telephone6{width: 18px; height: 18px; background-position: -421px -68px;}
.icon-corporate{width: 18px; height: 18px; background-position: -429px -115px;}
.icon-qq1{width: 18px; height: 19px; background-position: -76px -130px;}
.icon-qq2{width: 18px; height: 19px; background-position: -98px -30px;}
.icon-qq3{width: 18px; height: 19px; background-position: -120px -30px;}
.icon-qq4{width: 18px; height: 19px; background-position: -377px -92px;}
.icon-wechat-circle{width: 18px; height: 18px; background-position: -52px -101px;}
.icon-qq-space{width: 20px; height: 19px; background-position: -75px -101px;}
.icon-link{width: 20px; height: 19px; background-position: -99px -100px;}
.icon-weibo1{width: 23px; height: 21px; background-position: -5px -55px;}
.icon-weibo2{width: 23px; height: 21px; background-position: -33px -55px;}
.icon-weibo3{width: 23px; height: 21px; background-position: -62px -55px;}
.icon-weibo4{width: 20px; height: 18px; background-position: -25px -101px;}
.icon-bottom-arrow{width: 7px; height: 5px; background-position: -23px -84px;}
.icon-big-win{width: 58px; height: 56px; background-position: -452px -154px;}
.icon-big-ipm{width: 60px; height: 57px; background-position: -451px -91px;}
.icon-big-map{width: 56px; height: 56px; background-position: -586px -154px;}
.icon-big-chat{width: 70px; height: 58px; background-position: -579px -90px;}
.icon-collect{width: 17px; height: 16px; background-position: -121px -100px;}
.icon-ok{width: 28px; height: 20px; background-position: -152px -158px;}
.icon-slide-checkbox{width: 14px; height: 14px; background-position: -183px -6px;}
.icon-fault{width: 15px; height: 15px; background-position: -377px -115px;}
.icon-project-information{width: 20px; height: 20px; background-position: -706px -52px;}
.icon-carrier-information{width: 20px; height: 24px; background-position: -729px -49px;}
.icon-intelligence{width: 20px; height: 22px; background-position: -729px -77px;}
.icon-investment-information{width: 26px; height: 24px; background-position: -726px -104px;}
.icon-service-information{width: 22px; height: 20px; background-position: -728px -134px;}
.icon-edit-personal-data{width: 22px; height: 22px; background-position: -728px -160px;}
.icon-key{width: 20px; height: 22px; background-position: -729px -188px;}
.icon-big-key{width: 33px; height: 38px; background-position: -650px -1px;}


.line-2-overflow,.line-3-overflow{overflow: hidden; text-overflow: ellipsis; display: -webkit-box; display: -moz-box; display: -ms-box; display: -o-box; -webkit-box-orient: vertical;}


.line-1-overflow{white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.line-2-overflow{-webkit-line-clamp: 2;}
.line-3-overflow{-webkit-line-clamp: 3;}
/*overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; display: -webkit-box; display: -moz-box; display: -ms-box; display: -o-box; -webkit-box-orient: vertical;*/
.clearfix:after{content: " "; display: block; clear: both; height: 0;}
.clearfix{zoom: 1;}
.fl{float: left;}
.fr{float: right;}
.bor-0{border: none;}
.bor-1{border: 1px solid #eaeaea;}
.bor-b-1{border-bottom: 1px solid #eaeaea;}
.bor-r-1{border-right: 1px solid #eaeaea;}
.bor-l-1{border-left: 1px solid #eaeaea;}
.bor-t-1{border-top: 1px solid #eaeaea;}
.mar-5{margin: 5px;}
.mar-t-5{margin-top: 5px;}
.mar-r-5{margin-right: 5px;}
.mar-b-5{margin-bottom: 5px;}
.mar-l-5{margin-left: 5px;}
.mar-10{margin: 10px;}
.mar-t-10{margin-top: 10px;}
.mar-r-10{margin-right: 10px;}
.mar-b-10{margin-bottom: 10px;}
.mar-l-10{margin-left: 10px;}
.mar-15{margin: 15px;}
.mar-t-15{margin-top: 15px;}
.mar-r-15{margin-right: 15px;}
.mar-b-15{margin-bottom: 15px;}
.mar-l-15{margin-left: 15px;}
.mar-20{margin: 20px;}
.mar-t-20{margin-top: 20px;}
.mar-r-20{margin-right: 20px;}
.mar-b-20{margin-bottom: 20px;}
.mar-l-20{margin-left: 20px;}
.mar-25{margin: 25px;}
.mar-t-25{margin-top: 25px;}
.mar-r-25{margin-right: 25px;}
.mar-b-25{margin-bottom: 25px;}
.mar-l-25{margin-left: 25px;}
.mar-30{margin: 30px;}
.mar-t-30{margin-top: 30px;}
.mar-r-30{margin-right: 30px;}
.mar-b-30{margin-bottom: 30px;}
.mar-l-30{margin-left: 30px;}
.pad-5{padding: 5px;}
.pad-t-5{padding-top: 5px;}
.pad-r-5{padding-right: 5px;}
.pad-b-5{padding-bottom: 5px;}
.pad-l-5{padding-left: 5px;}
.pad-10{padding: 10px;}
.pad-t-10{padding-top: 10px;}
.pad-r-10{padding-right: 10px;}
.pad-b-10{padding-bottom: 10px;}
.pad-l-10{padding-left: 10px;}
.pad-15{padding: 15px;}
.pad-t-15{padding-top: 15px;}
.pad-r-15{padding-right: 15px;}
.pad-b-15{padding-bottom: 15px;}
.pad-l-15{padding-left: 15px;}
.pad-20{padding: 20px;}
.pad-t-20{padding-top: 20px;}
.pad-r-20{padding-right: 20px;}
.pad-b-20{padding-bottom: 20px;}
.pad-l-20{padding-left: 20px;}
.pad-25{padding: 25px;}
.pad-t-25{padding-top: 25px;}
.pad-r-25{padding-right: 25px;}
.pad-b-25{padding-bottom: 25px;}
.pad-l-25{padding-left: 25px;}
.pad-30{padding: 30px;}
.pad-t-30{padding-top: 30px;}
.pad-r-30{padding-right: 30px;}
.pad-b-30{padding-bottom: 30px;}
.pad-l-30{padding-left: 30px;}